<div>
    @for (row of boardItems(); track "row-" + $index) {
        <div class="flex">
            @for (cell of row; track "cell-" + cell.id) {
                <board-cell
                    (mouseenter)="onCellMouseEnter(cell)"
                    (mouseleave)="onCellMouseLeave()"
                    (mouseup)="onCellMouseUp(cell)"
                    [cell]="cell"
                >
                    {{ cell.value }}
                </board-cell>
            }
        </div>
    }
</div>
